.info-container {
  display: flex;
  align-items: end;
}

.info {
  width: 20px;
  height: 20px;
  padding-top: 5px;
}
.info-icon {
  cursor: pointer;
}

#my-tooltip {
  padding: 15px;
  max-height: 150px;
  width: 450px;
  background-color: #333;
  color: seashell;
  letter-spacing: 0.3px;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@media screen and (max-width: 1024px) {
  #my-tooltip {
    width: 200px;
    max-height: 160px;
  }
}
