.movie-card {
  display: flex;
  padding: 20px;
  gap: 10px;
}

.movie-img-container {
  display: flex;
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  max-height: 300px;
  justify-content: stretch;
}

.movie-img-container img {
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 3px slategray;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 10px 0 10px;
}

.movie-title {
  margin: 0;
  flex-wrap: wrap;
  color: #666;
}

.movie-rating {
  display: flex;
  gap: 80px;
  justify-content: flex-start;
}

.movie-overview {
  color: #666;
  font-size: 16px;
}

.movie-release-date {
  color: #666;
  font-size: 16px;
  font-weight: 600;
}

.progress-ring {
  --percentage: 0;
  width: 35px;
  height: 35px;
  background: conic-gradient(#4cc790 calc(var(--percentage) * 1%), #eee calc(var(--percentage) * 1%));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background 0.5s ease;
  padding: 5px;
}

.progress-ring::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
}

.rating-text {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color: #666;
}

.skeleton {
  background-color: #d3d3d3;
  border-radius: 8px;
  display: flex;
}
.skeleton-title,
.skeleton-info {
  flex: 1;
  justify-items: center;
  background-color: #d3d3d3;
  border-radius: 8px;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .movie-card {
    flex-direction: column;
  }
  .movie-info {
    padding: 0;
  }
  .movie-title,
  .movie-rating {
    margin-top: 10px;
  }
}
