.nav-container {
  display: flex;
  flex-direction: row;
  padding: 20px 0 20px 0;
  background-color: #171b24;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: seashell;
}
.nav-wrapper {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-logo {
  padding-right: 15px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.nav-item {
  cursor: pointer;
  display: flex;
  align-items: end;
  color: seashell;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.nav-text:hover {
  color: #d7d7d7;
  transition: all 0.3s ease;
}

.nav-text {
  padding: 0 10px 0 10px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 15px;
  color: seashell;
}

.nav-icon {
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  .nav-container {
    padding: 20px 10px 20px 0;
    gap: 5px;
  }

  .nav-logo {
    padding-right: 10px;
  }
  .nav-text {
    display: none;
  }
}
