.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 20px 0 20px 140px;
  background-color: #171b24;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: seashell;
  gap: 10px;
}

.nav-logo {
  padding-right: 25px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.nav-item {
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  color: seashell;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.nav-item:hover {
  background-color: #2f3950;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.nav-item.active {
  background-color: #2f3950;
  border-radius: 50px;
}

@media screen and (max-width: 1024px) {
  .nav-container {
    padding: 20px 0 20px 40px;
  }
  .nav-logo {
    padding-right: 10px;
  }
}
