.card-skeleton {
  padding: 0.35rem;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  div:last-child {
    flex-grow: 1;
  }
  div:first-child {
    height: 60px;
    width: 60px;
  }
}
